php_errorlog
*.DS_Store
.htaccess
.git-old/
wp-content/gallery/
wp-content-orig/
wp-inc_new/
wp-includes-orig/
wp-cont_new/
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/updraft/
pclzip*
wp-content/uploads/2009/11/Rock-final.flv
wp-content/uploads/2009/12/Peter_Buchanan2.flv
wp-content/uploads/2009/12/Ross_Wimer.flv
wp-content/uploads/2009/12/Altman-Final.flv
wp-content/uploads/2009/07/Rock-final.flv
wp-content/movies/heller.flv
wp-content/w3tc/dbcache/
wp-content/w3tc/objectcache/
wp-content/w3tc/pgcache/
